database_server_encryption:
  allowed_hashes: "all"  # "all", ["sha224", "sha256"...]
  force_response_hash: null  # "none", "sha224", "sha256", "sha384", "sha512"
  decryption_threads: 2
  public_key_file: "./database_server_public.pem"
  private_key_file: "./database_server_private.pem"
  private_key_password: "changeme"
  database_encryption:
    encryption_hash: "sha512"  # "none", "sha224", "sha256", "sha384", "sha512"
    public_key_file: "./database_public.pem"  # Both of these key parameters must not be empty. New keys will be generated if any of the files are not found
    private_key_file: "./database_private.pem"
    private_key_password: "changeme"
  obfuscate: true
database_server_ip_whitelist:
  enabled: false
  whitelist: []
database_server_ip_blacklist:
  enabled: true
  blacklist: []
database_server_transfer_rate: 8192  # in KB. Min 1, max 8192
database_server_clone:
  servers: []
  wait_time: 600  # Seconds, 0 is not allowed
database_server_db_dir: "./Database"
database_server_listen:
  - type: "websockets"
    host: "0.0.0.0"
    port: 8061