# Services configuration
## services:
##   service_name:
##     param1: value1
##     param2: value2
##     ...
##   ...
## services_configuration:
##   chatbot:
##     param1: value1
##     param2: value2
##     ...
##   ...

services: {}
services_get_automatically: "cheapest"  # "fastest", "min_queue", "cheapest"

# Server configuration
server_internet:
  search_max_results: 5
  search_region: "us-en"
  search_backend: "auto"
  search_safesearch: true
  follow_scrape_guidelines: true
  reddit_subreddit_max_posts: 25
  reddit_post_max_comments: 5  # Set to 0 to disable comments
server_api:
  min_length: 512  # Min key length: 16
  max_length: 1024  # Replace with `null` to make this the same as min_length
  default_groups: []
  admin_groups: []
server_whitelist:
  enabled: false
  ip_whitelist: []
  key_whitelist: []
server_blacklist:
  enabled: true
  ip_blacklist: []
  key_blacklist: []
server_automatic_blacklist:
  enabled: true
  text_filter_service:  # Requires the "text_classification" module
    enabled: false
    model_name: ""  # Keep in mind that the service here will be provided FREE OF CHARGE when using the automatic filter
    keyword: ""  # Keyword to filter - example: "NSFW" in `michellejieli/NSFW_text_classifier`
    threshold: 0  # Threshold to exceed to filter the prompt - from 0 to 1
    action: "ban"  # "ban", "warn", "raise" - action to take if the prompt is filtered
    extra_service_params: {}  # Extra parameters for the service inference
  image_filter_service:  # Requires the "image_classification" module
    enabled: false
    model_name: ""
    keyword: ""
    threshold: 0
    action: "ban"
    extra_service_params: {}
  audio_filter_service:  # No classifier yet, doesn't work for now
    enabled: false
    model_name: ""
    keyword: ""
    threshold: 0
    action: "ban"
    extra_service_params: {}
  video_filter_service:  # No classifier yet, current workaround is to pick random frames (or all frames) from the video and use the image filter
    enabled: false
    model_name: ""
    keyword: ""
    threshold: 0
    action: "ban"
    extra_service_params: {}
    frames_split: 10  # Pick a frame every 10 frames - minimum is 1
server_encryption:
  allowed_hashes:
    hashes:
      - "sha512"
      - "sha384"
      - "sha256"
      - "sha224"
      - "none"
    warnings:
      none:
        - "You are not using a hash. The message is not encrypted; anyone can read it."
      sha224:
        - "You are using a weak hash. The message is encrypted; but it can be decrypted by anyone."
  force_response_hash: null  # "none", "sha224", "sha256", "sha384", "sha512"
  decryption_threads: 2  # -1 for all threads
  public_key_file: "server_public.pem"
  private_key_file: "server_private.pem"
  private_key_password: "changeme"
  obfuscate: true  # Adds a random length string to the encryption to patch https://arxiv.org/pdf/2511.03675
server_client_version:
  min: 170000  # Minimum client version to accept, null = server version
  max: null  # Maximum client version to accept, null = server version
  accept_unknown: false  # Whether to accept clients with an unknown version or not
server_transfer_rate: 8192  # in KB. Min 1, max 8192 (~8 MB)
server_tos_file: "./TOS.md"
server_temp_dir: "./Temp"
server_listen:
  ws_enabled: true
  ws_ip: "0.0.0.0"
  ws_port: 8060

# Database server configuration
database_server_encryption:
  allowed_hashes: "all"  # "all", ["sha224", "sha256"...]
  force_response_hash: null  # "none", "sha224", "sha256", "sha384", "sha512"
  decryption_threads: 2
  public_key_file: "database_server_public.pem"
  private_key_file: "database_server_private.pem"
  private_key_password: "changeme"
  database_encryption:
    encryption_hash: "sha512"  # "none", "sha224", "sha256", "sha384", "sha512"
    public_key_file: "database_public.pem"  # Both key files must not be empty. New keys will be generated if any of the files are not found
    private_key_file: "database_private.pem"
    private_key_password: "changeme"
database_server_thrusted_keys: []
database_server_ip_whitelist:
  enabled: false
  whitelist: []
database_server_ip_blacklist:
  enabled: true
  blacklist: []
database_server_transfer_rate: 8192  # in KB. Min 1, max 8192
database_server_clone:
  servers: []
  wait_time: 600  # Seconds, 0 is not allowed
database_server_db_dir: "./Database"
database_server_listen:
  ws_enabled: true
  ws_ip: "0.0.0.0"
  ws_port: 8061